<?xml version="1.0"?>
<robot name="camera_setup" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Parameters for camera transform -->
  <!-- <xacro:arg name="camera_x" default="0.0"/>
  <xacro:arg name="camera_y" default="0.0"/>
  <xacro:arg name="camera_z" default="0.0"/>
  <xacro:arg name="camera_roll" default="0.0"/>
  <xacro:arg name="camera_pitch" default="0.0"/>
  <xacro:arg name="camera_yaw" default="0.0"/>
  <xacro:arg name="base_frame" default="base_link"/>
  <xacro:arg name="camera_frame" default="camera_link"/> -->

  <!-- Define properties to make expressions safer and debuggable -->
  <xacro:property name="camera_x" value="0.00"/>
  <xacro:property name="camera_y" value="0.00"/>
  <xacro:property name="camera_z" value="0.15"/>
  <xacro:property name="camera_roll" value="0.0"/>
  <xacro:property name="camera_pitch" value="0.0"/>
  <xacro:property name="camera_yaw" value="0.0"/>

  <!-- Include the dummy robot URDF -->
  <xacro:include filename="$(find board_calib)/urdf/robot_description.urdf.xacro"/>

  <!-- Camera link -->
  <!-- <link name="camera_link"/> -->

  <!-- Mount camera to robot base -->
  <!-- <joint name="base_to_camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_link"/>
    <origin xyz="${camera_x} ${camera_y} ${camera_z}" rpy="${camera_roll} ${camera_pitch} ${camera_yaw}"/>
  </joint> -->

  <!-- Charuco board fixed in front of base_link, adjust as per your setup -->
  <link name="charuco_board_link"/>
  <joint name="base_to_charuco_board_joint" type="fixed">
    <parent link="base_link"/>
    <child link="charuco_board_link"/>
    <origin xyz="-0.06 0.22 0.015" rpy="1.57 0.0 0.0"/> <!-- update these values to match your setup -->
  </joint>

  <!-- Tranform between camera frame and camera optical frame -->
  <!-- xyz="0 0 0" rpy="-1.57 0.0 -1.57"-->

</robot>