<?xml version="1.0"?>
<robot name="dummy_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- World frame to base_link -->
  <link name="map"/>
  <link name="base_link"/>
  <joint name="map_to_base_joint" type="fixed">
    <parent link="map"/>
    <child link="base_link"/>
    <origin xyz="0.1 0.1 0.1" rpy="0 0 0"/>
  </joint>

  <!-- base link to head link -->
  <!-- <link name="base_link"/> -->
  <link name="head_link"/>
  <joint name="base_to_head_joint" type="fixed">
    <parent link="base_link"/>
    <child link="head_link"/>
    <origin xyz="0 0 0.2" rpy="0 0 0"/>
  </joint>

</robot>